# =========================
# Terraform files ❌
# =========================
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Terraform configs (optional to ignore)
*.tf
*.tf.json

# Lock file (optional)
.terraform.lock.hcl

# =========================
# Secrets / env
# =========================
.env

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
